.page {
    font-family: 'Open Sans';
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: 14px;
}

.heading__general {
    font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
    font-weight: 700px;
    font-size: 42px;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    margin: 0;
}

.text__all {
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 28px;
    width: 100%;
    margin: 0;
}

.button__active {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 18px;
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    border-radius: 6px;
}

/*Header*/

.page__header {
    padding-top: 28px;
    background-color: #F6F2F2;
}

.header {
    flex-wrap: wrap;
    display: flex;
    align-items: stretch;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 1250px;
    min-height: 90px;
    margin: 0 auto;
    background-color: #000000;
}

.header__navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.menu {
    flex-wrap: wrap;
    display: flex;
    align-items: stretch;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu__item {
    display: flex;
    align-items: stretch;
    justify-content: center;
    min-height: 90px;
}

.menu__item:hover {
    background-color: #FF3F40;
}

.menu__link {
    display: flex;
    align-items: center;
    padding: 0 30px;
    color: #E0E0E0;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Open Sans";
}

/* popup */

.hide-popup {
    display: none;
}

.burger__menu-conteiner {
    position: relative;
    display: none;
}

.burger__button {
    width: 136px;
    height: 40px;
    display: none;
    background-image: url("../img/burger-menu.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.burger__menu {
    position: absolute;
    width: 136px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.burger__menu__item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90px;
    background-color: #000000;
}

.burger__menu__item:hover {
    background-color: #FF3F40;
}

.burger__menu__link {
    display: flex;
    align-items: center;
    padding: 0 30px;
    color: #E0E0E0;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Open Sans";
}

/*Home*/

.page-gray {
    background-color: #F6F2F2;
}

.about {
    position: relative;
    padding-top: 102px;
    padding-bottom: 110px;
}

.about__content {
    max-width: 618px;
    margin-bottom: 20px;
    margin-right: 74px;
}

.about__heading {
    font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
    font-weight: 800;
    font-size: 60px;
    line-height: 72px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 0;
}

.about__text {
    max-width: 520px;
    margin-top: 36px;
    margin-bottom: 36px;
}

.button-red {
    color: #FFFFFF;
    width: 226px;
    height: 54px;
    padding: 16px 0;
    background: #FF2D2D; 
}

.video {
    position: relative;
    width: 100%;
    max-width: 551px;
    height: 356px;
    border: none;
}

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1250px;
    margin: auto;
}

/* Contact Us */

.contactUs__popup {
    display: none;
    position: absolute;
    box-sizing: border-box;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    max-width: 500px;
    min-height: 418px;
    padding: 38px 30px 45px;
    border: 1px solid #808080;
    background: #FFFFFF;
} 

.contactUs__show__popup {
    display: block;
}

.contactUs__form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
}

.contactUs__popup__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contactUs__input {
    width: 100%;
    height: 55px;
    border-radius: 6px;
    border: 1px solid #808080;
    background-color: #E5E5E5;
    padding-left: 50px;
    margin-bottom: 30px;
}

.contactUs__input::placeholder, .contactUs__textarea::placeholder {
    font-family: 'Open Sans';
    font-size: 16px;
    color: #000000;
}

.contactUs__textarea {
    background-color: #E5E5E5;
    min-height: 150px;
    border-radius: 6px;
    padding-left: 53px;
    padding-top: 33px;
    margin-bottom: 43px;
}

.contactUs__button {
    border: none;
    color: #FFFFFF;
    width: 100%;
    max-width: 731px;
    height: 75px;
    background: #FF2D2D; 
}

/* Services */

.section-indent {
    padding-top: 102px;
    padding-bottom: 110px;

}

.section__content, .section__services {
    display: inline-block;
    max-width: 600px;
    margin: 0;
}

.section__content {
    margin-right: 20px;
}

.section__heading {
    font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
    font-weight: 700px;
    font-size: 42px;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    margin: 0;
}

.section__text {
    max-width: 520px;
    margin-top: 36px;
    margin-bottom: 36px;
}

.button-white {
    color: #FF2D2D;
    width: 227px;
    height: 58px;
    padding: 16px 0;
    background: #FFFFFF;
    border: 2px solid #FF2D2D;
    transition: all 0.5s ease-out;
}

.button-white:hover, .button-white:focus {
    background-color: #FF2D2D;
    color: #FFFFFF;
}

/* Services */

.section__services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 610px;
}

.section__service {
    max-width: 301px;
}

.section__service__heading {
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 500px;
    letter-spacing: 0.2px;
    margin: 0;
    margin-top: 80px;
    position: relative;
}

.section__service__text {
    max-width: 520px;
}

.section__service__heading-manag::before {
    content: url("../img/manag.svg");
    position: absolute;
    top: -60px;
}

.section__service__heading-ux::before {
    content: url("../img/ux.svg");
    position: absolute;
    top: -60px;
}

.section__service__heading-logo::before {
    content: url("../img/logo.svg");
    position: absolute;
    top: -60px;
}

.section__service__heading-anim::before {
    content: url("../img/anim.jpg");
    position: absolute;
    top: -60px;
}

/* Products */

.products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 104px;
    padding-bottom: 104px;
}

.section_products {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products__text {
    max-width: 536px;
    text-align: center;
}

.header__line {
    width: 134px;
    height: 2px;
    background: #FF2D2D;
    border: none;
}

.products__filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
    padding-top: 60px;
    list-style: none;
    padding: 0;
}

.products__list{
    font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    text-transform: uppercase;

}

.products__link {
    text-decoration: none;
    color: #000000;
}

.products__link:hover {
    color: #FF2D2D;
}

.product {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 26px;
}

.product__card {
    width: 286px;
    height: 280px;
    padding: 10px;
}

.product__card:hover {
    transform: scale(1.2);
    box-shadow: inset 0 0 0 20px #FF2D2D;
}

.divider-gray {
    width: 100%;
    max-width: 1251px;
    height: 3px;
    background: #ECECEC;
    border: none;
}

/* Team */

.team {
    padding-left: 50px;
    margin-bottom: 102px;
}

.team_section {
    margin-bottom: 24px;
}


.team__heading {
    margin-top: 80px;
    position: relative; 
}

.team__text {
    max-width: 520px;
    margin-top: 36px;
    margin-bottom: 36px;
}

.header__line-left {
    margin: 0;
}

.team__members {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.team__left-foto {
    width: 310px;
    height: 458px;
    margin-right: 60px;
}

.team__right-name{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0.2px;
    margin-top: 80px;
    position: relative; 
    text-transform: uppercase;
}

.team__right-text {
    max-width: 636px;
}

.team__links {
    margin-top: 46px;
    margin-bottom: 40px;
}

.team__link {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    padding-right: 18px;
    color: #000000;
}

.team__link:hover {
    text-decoration: underline;
}

.team__members__photo {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.team__member__container {
    flex-wrap: wrap;
    position: relative;
    margin-right: 20px;
    height: 216px;
    width: 190px;
}

.team__member__container:hover > .team__member-name {
    visibility: visible;
}

.team__member-name {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    position: absolute;
    margin: 0;
    bottom: 0px;
    background: #000000;
    opacity: 0.5;
    color: #FFFFFF;
    width: 190px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    visibility: hidden;
}

.team__right-foto {
    width: 190px;
    height: 216px;
}

/* Subscribe */

.subscribe {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #2D2D2D;
}

.subscribe__heading {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 42px;
    letter-spacing: 1px;
    color: #FFFFFF;
    margin-top: 110px;
    margin-bottom: 10px;
}

.subscribe__text {
    max-width: 573px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 57px;
}

.subscribe__form {
    display: block;
}

.subscribe__input {
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 24px;
    width: 524px;
    height: 82px;
    border-radius: 6px;
    border: none;
    padding-left: 38px;
    margin-right: 19px;
    margin-bottom: 110px;
}

.subscribe__input::placeholder {
    color: #2C2C2C;
}

.subscribe__button {
    border: none;
    color: #FFFFFF;
    width: 217px;
    height: 82px;
    background: #FF2D2D; 
    text-transform: uppercase;
}

/* Feedback */

.feedback {
    margin-left: max(calc((100vw - 1250px) / 2), 30px);
    margin-bottom: 102px;
}

.feedback__heading {
    margin-top: 80px;
    position: relative;
}

.feedback__text {
    max-width: 753px;
    margin-top: 45px;
    margin-bottom: 58px;
}

.feedback__flex__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 74px;
}

.feedback__form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 734px;
    margin-right: 104px;
}

.feedback__input__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 44px;
}

.feedback__input {
    width: 100%;
    max-width: 290px;
    height: 70px;
    border: none;
    border-radius: 6px;
    background-color: #E5E5E5;
    padding-left: 50px;
}

.feedback__input::placeholder, .feedback__textarea::placeholder {
    font-family: 'Open Sans';
    font-size: 16px;
    color: #000000;
}

.feedback__textarea {
    background-color: #E5E5E5;
    min-height: 252px;
    border: none;
    border-radius: 6px;
    padding-left: 53px;
    padding-top: 33px;
    margin-bottom: 43px;
}

.feedback__button {
    border: none;
    color: #FFFFFF;
    width: 100%;
    max-width: 731px;
    height: 75px;
    background: #FF2D2D; 
    text-transform: uppercase;
}

.feedback__contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 580px;
    background-color: #2D2D2D;
    padding-left: 81px;
}

.feedback__heading__contact {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.feedback__contact {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.feedback__contact-width {
    width: 100%;
    max-width: 315px;
    height: 45px;
}

/* Footer */

.footer {
    background-color: #313030;
}

.footer__conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 113px;
    margin: auto;
    width: 100%;
    max-width: 1250px;
}

.footer__text {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    color: #B8B8B8;
}

.footer__link {
    margin-right: 15px;
}

/* Responsive*/

@media (max-width: 1747px) {
    .feedback__button {
        margin-bottom: 20px;
    }
    .feedback__contacts {
        max-width: 652px;
    }
}

@media (max-width: 1539px) {
    .feedback__contacts {
        width: 100%;
        max-width: 650px;
    }
}

@media (max-width: 1275px) {
    .team__members {
        align-items: flex-start;
    }
    .team__right-name {
        margin-top: 0;
    }
    .team__member__container {
        margin-bottom: 15px;
    }
}

@media (max-width: 860px) {
    .about {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .section-indent {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .products {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media (max-width: 840px) {
    .team__members {
        flex-wrap: wrap;
    }
}

@media (max-width: 805px) {
    .subscribe__input, .subscribe__button {
        margin-bottom: 30px;
    }
    .subscribe__form {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .feedback__text {
        max-width: 700px;
    }
}

@media (max-width: 780px) {
    .subscribe {
        text-align: center;
    }
    .feedback__form {
        margin-right: 0;
    }
}

@media (max-width: 745px) {
    .feedback__input {
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .feedback__text {
        max-width: 500px;
    }
}

@media (max-width: 720px) {
    .products__link {
        padding: 10px;
    }
}

@media (max-width: 585px) {
    .subscribe__input {
        margin-right: 0;
        width: 400px;
    }
}

@media (max-width: 545px) {
    .about__heading {
        font-size: 46px;
    } 
    .feedback__text {
        max-width: 400px;
    }   
    .menu {
        display: none;
    }
    .burger__button {
        display: block;
    }
    .burger__menu-conteiner {
        display: block;
    }
}

@media (max-width: 469px) {
    .team {
        padding-left: 0;
        justify-content: center;
        margin-bottom: 0;
    }
    .team__heading, 
    .team__text, 
    .team__right-name, 
    .team__right-text, 
    .about__heading, 
    .about__text,
    .feedback__heading,
    .feedback__text {
        text-align: center;
    }
    .header__line-left {
        margin: auto;
    }
    .team__members__photo, .team__members {
        justify-content: center;
    }
    .team__left-foto, .about__content {
        margin-right: 0;
    }
    .team__links {
        display: flex;
        justify-content: space-around;
    }
    .about__heading {
        font-size: 30px;
    }
    .about__text {
        max-width: 400px;
        margin: auto;
    }
    .about__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 450px) {
    .subscribe__input {
        width: 350px;
    }
}

@media (max-width: 426px) {
    .section__heading {
        font-size: 30px;
    }
    .products__heading {
        font-size: 30px;
        text-align: center;
    }
    .feedback__contacts {
        padding-left: 30px;
    }
}

@media (max-width: 385px) {
    .subscribe__input {
        width: 300px;
    }
    .feedback {
        margin-left: max(calc((100vw - 1250px) / 2), 15px);
    }
}

@media (max-width: 365px) {
    .team__link {
        padding-right: 0;
    }
}